<p id="notice"><%= notice %></p>

<h1>Error Logs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User type</th>
      <th>Code</th>
      <th>Message</th>
      <th>Location</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @error_logs.each do |error_log| %>
      <tr>
        <td><%= error_log.user_id %></td>
        <td><%= error_log.user_type %></td>
        <td><%= error_log.code %></td>
        <td><%= error_log.message %></td>
        <td><%= error_log.location %></td>
        <td><%= error_log.status %></td>
        <td><%= link_to 'Show', error_log %></td>
        <td><%= link_to 'Edit', edit_error_log_path(error_log) %></td>
        <td><%= link_to 'Destroy', error_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Error Log', new_error_log_path %>
