<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @error_log.user_id %>
</p>

<p>
  <strong>User type:</strong>
  <%= @error_log.user_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @error_log.code %>
</p>

<p>
  <strong>Message:</strong>
  <%= @error_log.message %>
</p>

<p>
  <strong>Location:</strong>
  <%= @error_log.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @error_log.status %>
</p>

<%= link_to 'Edit', edit_error_log_path(@error_log) %> |
<%= link_to 'Back', error_logs_path %>
