<%= form_with(model: audit_log, local: true) do |form| %>
  <% if audit_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audit_log.errors.count, "error") %> prohibited this audit_log from being saved:</h2>

      <ul>
      <% audit_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :user_type %>
    <%= form.number_field :user_type %>
  </div>

  <div class="field">
    <%= form.label :trace_id %>
    <%= form.text_field :trace_id %>
  </div>

  <div class="field">
    <%= form.label :action_type %>
    <%= form.text_field :action_type %>
  </div>

  <div class="field">
    <%= form.label :action_meta %>
    <%= form.text_field :action_meta %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
