<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.number_field :country_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :verified %>
    <%= form.check_box :verified %>
  </div>

  <div class="field">
    <%= form.label :locked %>
    <%= form.check_box :locked %>
  </div>

  <div class="field">
    <%= form.label :failed_attempts %>
    <%= form.number_field :failed_attempts %>
  </div>

  <div class="field">
    <%= form.label :active_otp %>
    <%= form.number_field :active_otp %>
  </div>

  <div class="field">
    <%= form.label :otp_secret_key %>
    <%= form.text_field :otp_secret_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
