<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Phone</th>
      <th>Account number</th>
      <th>Language</th>
      <th>Country</th>
      <th>Status</th>
      <th>Verified</th>
      <th>Locked</th>
      <th>Failed attempts</th>
      <th>Active otp</th>
      <th>Otp secret key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.phone %></td>
        <td><%= user.account_number %></td>
        <td><%= user.language %></td>
        <td><%= user.country_id %></td>
        <td><%= user.status %></td>
        <td><%= user.verified %></td>
        <td><%= user.locked %></td>
        <td><%= user.failed_attempts %></td>
        <td><%= user.active_otp %></td>
        <td><%= user.otp_secret_key %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
