<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @user.account_number %>
</p>

<p>
  <strong>Language:</strong>
  <%= @user.language %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @user.verified %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @user.locked %>
</p>

<p>
  <strong>Failed attempts:</strong>
  <%= @user.failed_attempts %>
</p>

<p>
  <strong>Active otp:</strong>
  <%= @user.active_otp %>
</p>

<p>
  <strong>Otp secret key:</strong>
  <%= @user.otp_secret_key %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
