<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @country.full_name %>
</p>

<p>
  <strong>Short code:</strong>
  <%= @country.short_code %>
</p>

<p>
  <strong>Phone code:</strong>
  <%= @country.phone_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @country.status %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
