<!DOCTYPE html>
<html>
  <head>
    <title>Yallapay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
    <% if signed_in? %>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else %>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end %>
  </div> 

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
